<a href="https://colab.research.google.com/github/ivandreeevich/test_repo/blob/master/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import this

In [25]:
a = input("Введиите что-то такое:")
print(a.title(),type(a))

123 <class 'str'>

In [26]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Задаем псевдоним!

In [27]:
import pandas as pd #Задаем псевдоним

df_2 = pd.read_csv("C:/Users/korol/OneDrive/Изображения/Документы/Demo/My_instruments/dataset_stats.csv")
df_2.head()

,class,image_count,avg_width,avg_height,min_width,min_height,max_width,max_height,formats,corrupt_files
0,adidas_forum_high,150,143,124,78,81,162,140,jpeg,0
1,adidas_ultraboost,150,142,128,93,49,162,140,jpeg,0
2,new_balance_550,150,134,129,79,40,162,140,jpeg,0
3,new_balance_574,150,131,133,78,68,162,140,jpeg,0
4,converse_one_star,150,138,130,82,67,162,140,jpeg,0

In [28]:
df_2.tail(5)

,class,image_count,avg_width,avg_height,min_width,min_height,max_width,max_height,formats,corrupt_files
45,nike_air_jordan_1_low,79,135,130,97,68,300,140,"jpeg, png",0
46,converse_chuck_taylor_all-star_high,78,134,135,91,68,300,140,"jpeg, png",0
47,nike_air_jordan_1_high,77,139,128,97,81,162,140,jpeg,0
48,converse_chuck_70_high,75,132,135,84,91,162,140,jpeg,0
49,adidas_samba,74,139,129,93,68,300,140,"jpeg, png",0